# Ship only the bundled extension + listing files.
# Kept: dist/extension.js, dist/webview.js, dist/webview.html,
#       package.json, README.md, CHANGELOG.md, LICENSE
**
!dist/extension.js
!dist/webview.js
!dist/webview.html
!package.json
!README.md
!CHANGELOG.md
!LICENSE
